html, body {
  color: white;
  font-family: verdana;
  margin: 0;
  height: 100%;
}

#container {
  background: linear-gradient(to bottom right, #ff6666 30%, deepskyblue);
  overflow: hidden;
}

#app {
  min-height: 100vh;
  transition: all .6s ease .3s;
}

#game {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.luke-warm {
  background-color: #fa8a69;
}

.warm {
  background-color: #ff6666;
}

.hot {
  background-color: #f94b38;
}

.cold {
  background-color: deepskyblue;
}

.snow {
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  width: 100%;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}


form {
  vertical-align: middle;
}

#characters-wrapper {
  position: relative;
}

#fire-wrapper {
  position: relative;
  transition: left .5s ease;
  width: 20%;
  left: -20%;
  top: 0;
  padding-top: 2%;
}

.fire-move-in {
  left: 50% !important;
  margin-left: -22%;
}

#ice-wrapper {
  position: absolute;
  transition: right .5s ease .4s;
  width: 20%;
  right: -20%;
  top: 0;
  padding-top: 2%;
}

.ice-move-in {
  right: 50% !important;
  margin-right: -22%;
}

.bounce-right-once {
  animation-name: bounceROnce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes bounceROnce {
  0% {transform: translateY(0) rotate(18deg); animation-timing-function: ease-in;} 
  80% {transform: translateY(10px);}
  99% {transform: translateY(-30px);}
  100% {transform: translateY(0);} 
} 

.bounce-right {
  animation-name: bounceR;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes bounceR {
  0% {transform: translateY(0);} 
  20% {transform: rotate(18deg);}
  25% {transform: translateY(10px);}
  50% {transform: translateY(-30px);}
  60% {transform: translateY(0px);}
  80% {transform: translateY(-10px);}
  100% {transform: translateY(0);} 
} 

.bounce-left-once {
  animation-name: bounceLOnce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes bounceLOnce {
  0% {transform: translateY(0) rotate(-18deg); animation-timing-function: ease-in;} 
  80% {transform: translateY(10px);}
  99% {transform: translateY(-30px);}
  100% {transform: translateY(0);} 
} 

.bounce-left {
  animation-name: bounceL;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes bounceL {
  0% {transform: translateY(0);} 
  20% {transform: rotate(-18deg);}
  25% {transform: translateY(10px);}
  50% {transform: translateY(-30px);}
  60% {transform: translateY(0px);}
  80% {transform: translateY(-10px);}
  100% {transform: translateY(0);} 
} 

.bounce-happy-right {
  animation-name: bounceHappyR;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounceHappyR {
  0% {transform: translateY(0);} 
  20% {transform: rotate(18deg);}
  25% {transform: translateY(10px);}
  50% {transform: translateY(-30px);}
  60% {transform: translateY(0px);}
  80% {transform: translateY(-10px);}
  100% {transform: translateY(0);} 
} 

.bounce-happy-left {
  animation-name: bounceHappyL;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounceHappyL {
  0% {transform: translateY(0);} 
  20% {transform: rotate(-18deg);}
  25% {transform: translateY(10px);}
  50% {transform: translateY(-30px);}
  60% {transform: translateY(0px);}
  80% {transform: translateY(-10px);}
  100% {transform: translateY(0);} 
} 

.shake {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
  transform: scale(2.5);
  transition: all .2s linear;
}

@keyframes shake {
  0% {transform: rotate(15deg);}
  25% {top: -2px;}
  50% {transform: rotate(-25deg);}
  100% {bottom: -2px;}
}

img {
  width: 100%;
}

#header {
  opacity: 0;
  animation: scaleInHeader .5s ease-out 1.3s;
  animation-fill-mode: forwards;
}

@keyframes scaleInHeader {
  0% {transform: scale(0); opacity: 0;}
  90% {transform: scale(1.2); opacity: .6;}
  100% {transform: scale(1); opacity: 1;}
}

#game-container {
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  animation: scaleIn .5s ease-out 1.6s;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  0% {transform: scale(0); opacity: 0;}
  90% {transform: scale(1.4); opacity: .6;}
  100% {transform: scale(1); opacity: 1;}
}

h1 {
  font-size: 1.7em;
  margin-top: 2%;
}

h2 {
  font-size: 1.1em;
}

h1, h2 {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px #000000;
}

#submit {
  color: white;
  margin-left: 20px;
  height: 50px;
  width: 150px;
  border-radius: 4px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 1.2em;
  transform: translateY(-15%);
}

#submit:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

#reset {
  color: black;
  height: 40px;
  width: 110px;
  border-radius: 4px;
  background-color: white;
  font-size: 0.8em;
  margin-top: -20px;
  margin-bottom: 20px;
}

#reset:hover {
  cursor: pointer;
}

#game-container input {
  -webkit-appearance: none;
  color: white;
  padding: 0;
  width: 70px;
  height: 65px;
  font-size: 2.5em;
  background-color: transparent;
  border: 2px solid white;
  text-align: center;
}

#guess-count, #fewest-guess {
  margin-top: 10px;
  margin-bottom: 10px;
}

#guess-box {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.25);
  border-radius: 10px;
  padding: 20px;
  transition: max-height 2s ease;
}

#user-guesses {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 20px;
}

#message {
  font-style: italic;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin-bottom: 25px;
  margin-top: 25px;
  text-shadow: 2px 2px #000000;
}

.slow-spin {
  animation: fa-spin 5s infinite linear;
}

.fewest {
  animation: fewest 1s linear infinite;
}

@keyframes fewest {
  0% {transform: scale(1);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1);}
}

@media (min-width: 768px) {

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1.8em;
  }

}

@media (min-width: 1200px) {

  #fire-wrapper {
    max-width: 250px;
    left: -250px;
  }

  .fire-move-in {
    left: 50% !important;
    margin-left: -270px;
  }

  #ice-wrapper {
    max-width: 250px;
    right: -250px;
  }

  .ice-move-in {
    right: 50% !important;
    margin-right: -270px;
  }

}